@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  color: rgb(25, 48, 33);
}

body {
  font-family: 'Baloo 2', cursive;
  background-color: rgb(234, 247, 234);
}

#contacts {
  max-width: 1000px;
  margin: 30px auto;
  border: 5px solid rgb(175, 206, 183);
  padding: 50px;
  border-radius: 50px;
  background-color: rgb(232, 248, 232);
}

#contact {
  background-color: rgb(212, 233, 212);
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

ul {
  font-size: 15px;
  padding: 0;
  padding-right: 300px;
  display: flex;
  align-items:  flex-start;
  justify-content: space-between;
  list-style: none;
}